<% 
    sortHelper = (linkPrefix, name, sortField, sortFieldCurrent, sortTypeCurrent,options) => {
        let oder    = (sortTypeCurrent == "asc") ? 'desc' : 'asc';
        let link    =linkPrefix + 'sort/' + sortField + '/' + oder;
        let icon    ='<i class="fa fa-fw fa-sort"></i>';
        let style   = (options !== undefined) ?  `style= "${options}"` : '';

        if(sortField == sortFieldCurrent){
            if(sortTypeCurrent == "asc") icon = '<i class="fa fa-fw fa-sort-asc"></i>';
            else if(sortTypeCurrent == "desc") icon = '<i class="fa fa-fw fa-sort-${sortTypeCurrent}"></i>';
        }

        return `<th class= "text-center pointer"${style}>
            <a href="${link}" class="title_col">${name} ${icon}</a>
        </th>`;
        
        
    } 
 %>


            
